<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filtro por Editorial</title>
</head>
<body>
    <h1>Catalogo</h1>
    <button> <a href="/"> volver </a></button>
<button> <a href="/filtro_editorial"> filtrar por editorial </a></button>
<button> <a href="/filtro_autor"> filtrar por autor </a></button>
<button> <a href="/filtro_nombrelibro"> filtrar por titulo </a></button>
        
        {{#if libros.length}}
            <table border="1">
                <thead>
                    <tr>
                        <th>ID Libro</th>
                        <th>Título</th>
                        <th>Autor</th>
                        <th>editorial </th>
                        <th>Páginas</th>
                        <th>Cantidad</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each libros}}
                        <tr>
                            <td>{{this.id_libro}}</td>
                            <td>{{this.titulo}}</td>
                            <td>{{this.nombre}}</td>
                            <td>{{this.editorial_nombre}}</td>
                            <td>{{this.paginas}}</td>
                            <td>{{this.cantidad}}</td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
    {{/if}}
</body>
</html>
